
.App {
  font-family: 'Montserrat';
  font-weight: 700;
  max-width: 100%;
}
header {
  min-height: 10vh;
   padding: 1rem 0;
}
h1 {
  font-weight: 900;
  font-family: 'Montserrat';
   color: black;
}
li {
  list-style: none;
  transition: all 0.5s ease;
}
.myreads {
  position: relative;
}
.styling {
  background: lavender;
  min-height: 35vh;
}
h2 {
  font-weight: 700
}

  ol {
    margin: 0;
    transition: all 0.5s ease;


 // @include breakpoint(large) {
 //     column-count: 3;
 //    column-gap: 20px;
 //   }
}
.searchPad {
  min-height: 15vh;
  padding: 0 2rem;
}
#searchList {
  display:flex;
}
