
.App {
  font-family: 'Montserrat';
  font-weight: 700;
  max-width: 100%;
}
header {
  min-height: 10vh;
   padding: 1rem 0;
}
h1 {
  font-weight: 900;
  font-family: 'Montserrat';
   color: black;
}
li {
  list-style: none;
}
.myreads {

  position: relative;
}
.styling {
  background: #9370DB;

}
h2 {
  font-weight: 700
}

  ol {
    margin: 0;

// @include breakpoint(large) {
//     column-count: 3;
//     column-gap: 50px;
//   }
}
.searchPad {
  display: flex;
  min-height: 75vh;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 0 2rem;
}
